## read data

In [38]:

import pandas as pd
import os

project_folder="C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/"
output_folder=project_folder+"output"

df=pd.read_csv(output_folder+"/"+"all_after_preprocessing6.csv")

## Normalization of price

In [39]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
labels_price = pd.DataFrame(scaler.fit_transform(pd.DataFrame(df["price"])))

## numerical features

In [40]:
numerical_features=["bedroom","bedroomAboveGrade","bedroomBelowGrade","bathroom", "bathroomTotal","bathroomPartial", "totalParkingSpaces", "storeys", "maintenanceFees",  'landSize', 'longitude', "latitude"]

In [41]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
X_num=df[numerical_features]
X_num.head()

,bedroom,bedroomAboveGrade,bedroomBelowGrade,bathroom,bathroomTotal,bathroomPartial,totalParkingSpaces,storeys,maintenanceFees,landSize,longitude,latitude
0,5,4,1,4.0,4,0,4,2.0,670.51,2230.1475,-79.7953,43.7328
1,3,3,0,4.0,4,0,1,3.0,670.51,0.0000,-79.7876,43.6249
2,7,4,3,4.0,4,0,8,2.0,670.51,4620.0000,-79.7876,43.6249
3,6,4,2,4.0,4,0,4,2.0,670.51,5063.6808,-79.7876,43.6249
4,4,4,0,4.0,4,0,4,2.5,670.51,3169.0000,-79.7876,43.6249

## Normalization for numerical data (exclude longitude and latitude) using MinMaxScaler

In [42]:
from sklearn.preprocessing import MinMaxScaler
# recaling the variables (both)
X_num_columns = X_num.columns
scaler = MinMaxScaler()
X_num = scaler.fit_transform(X_num)

# rename columns (since now its an np array)
X_num = pd.DataFrame(X_num)
X_num.columns = X_num_columns

## Normalization for longitude and latitude sepeparately

In [43]:
X_num.drop(["longitude", "latitude"], axis=1)
normed_long= df["longitude"] *0.01
normed_lat= df["latitude"] *0.01
X_num=pd.concat([X_num, normed_long, normed_lat], axis=1)

## Boolean features

In [44]:
boolean_features=['parkingAttachedGarage',
       'parkingUnderground', 'parkingInsideEntry', 'parkingSurfaced',
       'parkingOversize', 'parkingGravel', 'parkingGarage', 'parkingShared',
       'parkingDetachedGarage', 'parkingCarport', 'parkingInterlocked',
       'parkingVisitorParking','amenityClubhouse', 'amenityCarWash', 'amenityMusicRoom',
       'amenityStorageLocker', 'amenitySauna', 'amenityPartyRoom',
       'amenityRecreationCentre', 'amenityGuestSuite', 'amenityFurnished',
       'amenityLaundryFacility', 'amenityExerciseCentre',
       'amenityLaundryInSuite', 'amenitySecurity', 'amenityWhirlpool',
       'efinishWood', 'efinishBrick', 'efinishHardboard', 'efinishWoodsiding',
       'efinishLog', 'efinishMetal', 'efinishSteel', 'efinishStone',
       'efinishWoodshingles', 'efinishStucco', 'efinishSiding',
       'efinishConcrete', 'efinishShingles', 'efinishAluminumsiding',
       'efinishCedarshingles', 'efinishVinyl', 'efinishVinylsiding',
       'featurePetNotAllowed', 'AirportNearby',
       'GolfNearby', 'MarinaNearby', 'ShoppingNearby', 'WaterNearby',
       'WorshipPlaceNearby', 'RecreationNearby', 'PlaygroundNearby',
       'PublicTransitNearby', 'ParkNearby', 'SchoolsNearby', 'HospitalNearby',
       'HighwayNearby', 'SkiAreaNearby']

X_boo=df[boolean_features]

## Convert categorical data with string values into numerical values

In [45]:
X_category=df[['city', 'typeBuilding', 'title', 'styleAttach', 
       'cooling', 'basementType', 'basementFinish',
       'heatingType1', 'heatingType2', 'heatingEnergy1', 'heatingEnergy2', 'featureLotSlope', 'featureDriveway', 'featureLotPositionType',
       'featureOutdoorAreaType', 'featureOutdoorLandscape',
       'featureAdditionalFacility']]

In [46]:
## convert categorical data to numerical values
cate_features=['city', 'typeBuilding', 'title', 'styleAttach', 'cooling',  'basementType', 'basementFinish','heatingType1', 'heatingType2', 'heatingEnergy1', 'heatingEnergy2', 'featureLotSlope', 'featureDriveway', 'featureLotPositionType',
       'featureOutdoorAreaType', 'featureOutdoorLandscape',
       'featureAdditionalFacility']
for col in cate_features:
    X_category[col] = X_category[col].astype('category')
    X_category[col] = X_category[col].cat.codes

<ipython-input-46-3a5b2f48f5f1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_category[col] = X_category[col].astype('category')
<ipython-input-46-3a5b2f48f5f1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_category[col] = X_category[col].cat.codes

In [47]:
X_category.head()

,city,typeBuilding,title,styleAttach,cooling,basementType,basementFinish,heatingType1,heatingType2,heatingEnergy1,heatingEnergy2,featureLotSlope,featureDriveway,featureLotPositionType,featureOutdoorAreaType,featureOutdoorLandscape,featureAdditionalFacility
0,0,3,3,3,1,4,0,3,0,2,0,3,4,3,1,3,3
1,0,8,2,0,1,4,3,3,0,2,0,3,4,3,1,3,3
2,0,3,3,1,1,4,0,3,0,2,0,3,4,3,1,3,3
3,0,3,3,1,1,4,0,3,0,2,0,3,4,3,1,3,3
4,0,3,3,1,1,3,3,3,0,2,0,3,4,3,1,3,3

## Normalize the categorical data

In [48]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

## Use numerical, boolean, categorical (excluding description) data to predict

X_all_exdesc = pd.concat([X_num, X_boo, X_category], axis=1)
X_all_exdesc.head()

## divide dataset

X_train, X_test, y_train, y_test = train_test_split(
    X_all_exdesc, labels_price, test_size=0.1, random_state=13) 

X_train = np.asarray(X_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)

# recaling the variables (both)
X_category_columns = X_category.columns
scaler = MinMaxScaler()
X_category = scaler.fit_transform(X_category)

# rename columns (since now its an np array)
X_category = pd.DataFrame(X_category)
X_category.columns = X_category_columns

X_category.head()

,city,typeBuilding,title,styleAttach,cooling,basementType,basementFinish,heatingType1,heatingType2,heatingEnergy1,heatingEnergy2,featureLotSlope,featureDriveway,featureLotPositionType,featureOutdoorAreaType,featureOutdoorLandscape,featureAdditionalFacility
0,0.0,0.3,0.6,0.428571,0.2,0.8,0.0,0.428571,0.0,0.4,0.0,0.6,0.666667,1.0,0.333333,0.272727,0.5
1,0.0,0.8,0.4,0.000000,0.2,0.8,1.0,0.428571,0.0,0.4,0.0,0.6,0.666667,1.0,0.333333,0.272727,0.5
2,0.0,0.3,0.6,0.142857,0.2,0.8,0.0,0.428571,0.0,0.4,0.0,0.6,0.666667,1.0,0.333333,0.272727,0.5
3,0.0,0.3,0.6,0.142857,0.2,0.8,0.0,0.428571,0.0,0.4,0.0,0.6,0.666667,1.0,0.333333,0.272727,0.5
4,0.0,0.3,0.6,0.142857,0.2,0.6,1.0,0.428571,0.0,0.4,0.0,0.6,0.666667,1.0,0.333333,0.272727,0.5

## Build model for non-description data

## Use numerical, boolean, categorical (excluding description) data to predict

In [ ]:
X_all_exdesc = pd.concat([X_num, X_boo, X_category], axis=1)
X_all_exdesc.head()

## divide dataset for non-description data

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_all_exdesc, labels_price, test_size=0.1, random_state=13)

In [ ]:
X_train = np.asarray(X_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)

### Build gradient boosting model

In [ ]:
import numpy as np 
from sklearn import ensemble
params = {'n_estimators': 500,
          'max_depth': 6,
          'learning_rate': 0.02,
          'subsample': 0.8
         }

reg = ensemble.GradientBoostingRegressor(**params)
y_train_flat=np.ravel(y_train)
reg.fit(X_train, y_train_flat)

## Training R2 and RMSE

In [ ]:
y_train_pred=reg.predict(X_train)

In [ ]:
from sklearn.metrics import r2_score
r2_train=r2_score(y_train, y_train_pred)
print(r2_train)

In [ ]:
from sklearn.metrics import mean_squared_error
rmse_train=mean_squared_error(y_train, y_train_pred, squared=False)
print(rmse_train)

## Testing R2 and RMSE

In [ ]:
y_test_pred=reg.predict(X_test)

In [ ]:
r2_test=r2_score(y_test, y_test_pred)
print(r2_test)

In [ ]:
rmse_test=mean_squared_error(y_test, y_test_pred, squared=False)
print(rmse_test)

## save the model to disk

In [ ]:
import pickle
filename = 'finalized_model_non_description.sav'
pickle.dump(reg, open(output_folder+"/"+filename, 'wb'))

## load the model from disk

In [ ]:
loaded_model = pickle.load(open(output_folder+"/"+filename, 'rb'))
y_test_pred = loaded_model.predict(X_test)
r2_test=r2_score(y_test, y_test_pred)
print(r2_test)

## Build model for only description data

## Word2Vec

## read lemmatized data

In [49]:
df=pd.read_csv(output_folder+"/"+"all_after_preprocessingLem.csv")

In [50]:
df['description'] = df['description'].astype(str)

## Train the word2vec using description data

## create list of sentences(sentence contain list of words)

In [51]:
import gensim
corpus = df["description"]

## create list of lists of unigrams
lst_corpus = []
for string in corpus:
    lst_words = string.split()
    lst_grams = [" ".join(lst_words[i:i+1]) 
               for i in range(0, len(lst_words), 1)]
    lst_corpus.append(lst_grams)

## detect bigrams and trigrams
bigrams_detector = gensim.models.phrases.Phrases(lst_corpus, 
                 delimiter=" ".encode(), min_count=5, threshold=10)
bigrams_detector = gensim.models.phrases.Phraser(bigrams_detector)
trigrams_detector = gensim.models.phrases.Phrases(bigrams_detector[lst_corpus], 
            delimiter=" ".encode(), min_count=5, threshold=10)
trigrams_detector = gensim.models.phrases.Phraser(trigrams_detector)

## Load the self trained W2V model

model.save(output_folder+"/w2v.model")

In [52]:
from gensim.models import Word2Vec
# let X be a list of tokenized texts (i.e. list of lists of tokens)
#model = gensim.models.Word2Vec(lst_corpus, size=300, window=8, min_count=1, sg=1, iter=30)
model=Word2Vec.load(output_folder+"/w2v.model")
w2v = dict(zip(model.wv.index2word, model.wv.syn0))

<ipython-input-52-76355c02a7f2>:5: DeprecationWarning: Call to deprecated `syn0` (Attribute will be removed in 4.0.0, use self.vectors instead).
  w2v = dict(zip(model.wv.index2word, model.wv.syn0))

## define the word2vec vectorizer

In [53]:
class MeanEmbeddingVectorizer(object):
    def __init__(self, word2vec):
        self.word2vec = word2vec
        # if a text is empty we should return a vector of zeros
        # with the same dimensionality as all the other vectors
        self.dim = len(next(iter(word2vec.values())))
        

    def fit(self, X, y):
        return self

    def transform(self, X):
        return np.array([np.mean([self.word2vec[w] for w in words if w in self.word2vec] or [np.zeros(self.dim)], axis=0) for words in X])

In [54]:
len(next(iter(w2v.values())))

300

## tokenize

In [55]:
from nltk.tokenize import RegexpTokenizer
tokeniser = RegexpTokenizer(r'\w+')
df["description"]=df["description"].apply(lambda x: tokeniser.tokenize(x))

## divide dataset into training data and testing data

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    df["description"], labels_price, test_size=0.1, random_state=46) #random state=13 originally

## transform word vectors

In [57]:
MEV=MeanEmbeddingVectorizer(w2v)
transformed_X_train=MEV.transform(X_train)
transformed_X_test=MEV.transform(X_test)

In [58]:
transformed_X_train.shape

(9225, 300)

## Build DNN

In [59]:
import numpy
from sklearn.model_selection import GridSearchCV
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.optimizers import Adam
from keras.wrappers.scikit_learn import KerasRegressor
from keras.optimizers import SGD

def create_model(learn_rate=0.0001, amsgrad=False, activation='relu', dropout_rate=0.2, neurons=100):
    # create model
    # The maximum number of words to be used. (most frequent)
    #MAX_NB_WORDS = 50000
    # embedding dimension
    #EMBEDDING_DIM = 100
    #model.add(Dense(1024, activation='relu', input_shape=(X_train.shape[1],)))
    #model.add(Embedding(MAX_NB_WORDS, EMBEDDING_DIM, input_length=X.shape[1]))
    #model.add(LSTM(50))

    model = Sequential()
    model.add(Dense(neurons, activation=activation)) #input_shape=(X_train.shape[1],), return_sequences = True
    model.add(Dropout(dropout_rate))
    model.add(Dense(neurons*2, activation=activation))
    model.add(Dropout(dropout_rate/2))
    model.add(Dense(neurons, activation=activation))

    
    model.add(Dense(1, activation='sigmoid')) #

    # Compile model
    optimizer = Adam(learning_rate=learn_rate, amsgrad=amsgrad)
    model.compile(loss='mse', optimizer=optimizer, metrics=['mse'])
    return model

# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)

# split into input (X) and output (Y) variables
# create model
model = KerasRegressor(build_fn=create_model, verbose=10) #epochs=75, batch_size=10, verbose=10)

In [60]:
model.fit(transformed_X_train, y_train, batch_size=10, epochs=100)

Epoch 1/100
Epoch 2/100
Epoch 3/100
Epoch 4/100
Epoch 5/100
Epoch 6/100
Epoch 7/100
Epoch 8/100
Epoch 9/100
Epoch 10/100
Epoch 11/100
Epoch 12/100
Epoch 13/100
Epoch 14/100
Epoch 15/100
Epoch 16/100
Epoch 17/100
Epoch 18/100
Epoch 19/100
Epoch 20/100
Epoch 21/100
Epoch 22/100
Epoch 23/100
Epoch 24/100
Epoch 25/100
Epoch 26/100
Epoch 27/100
Epoch 28/100
Epoch 29/100
Epoch 30/100
Epoch 31/100
Epoch 32/100
Epoch 33/100
Epoch 34/100
Epoch 35/100
Epoch 36/100
Epoch 37/100
Epoch 38/100
Epoch 39/100
Epoch 40/100
Epoch 41/100
Epoch 42/100
Epoch 43/100
Epoch 44/100
Epoch 45/100
Epoch 46/100
Epoch 47/100
Epoch 48/100
Epoch 49/100
Epoch 50/100
Epoch 51/100
Epoch 52/100
Epoch 53/100
Epoch 54/100
Epoch 55/100
Epoch 56/100
Epoch 57/100
Epoch 58/100
Epoch 59/100
Epoch 60/100
Epoch 61/100
Epoch 62/100
Epoch 63/100
Epoch 64/100
Epoch 65/100
Epoch 66/100
Epoch 67/100
Epoch 68/100
Epoch 69/100
Epoch 70/100
Epoch 71/100
Epoch 72/100
Epoch 73/100
Epoch 74/100
Epoch 75/100
Epoch 76/100
Epoch 77/100
Epoch 78/100
Epoch 79/100
Epoch 80/100
Epoch 81/100
Epoch 82/100
Epoch 83/100
Epoch 84/100
Epoch 85/100
Epoch 86/100
Epoch 87/100
Epoch 88/100
Epoch 89/100
Epoch 90/100
Epoch 91/100
Epoch 92/100
Epoch 93/100
Epoch 94/100
Epoch 95/100
Epoch 96/100
Epoch 97/100
Epoch 98/100
Epoch 99/100
Epoch 100/100

## Training R2 and RMSE

In [61]:
y_train_pred=model.predict(transformed_X_train)

In [62]:
from sklearn.metrics import r2_score
r2_train=r2_score(y_train, y_train_pred)
print(r2_train)

0.8662024124079234

In [63]:
from sklearn.metrics import mean_squared_error
rmse_train=mean_squared_error(y_train, y_train_pred, squared=False)
print(rmse_train)

0.013087449200821112

## Testing R2 and RMSE

In [64]:
y_test_pred=model.predict(transformed_X_test)

In [65]:
r2_test=r2_score(y_test, y_test_pred)
print(r2_test)

0.7904129449780334

In [66]:
rmse_test=mean_squared_error(y_test, y_test_pred, squared=False)
print(rmse_test)

0.02379004585625523

## Save model

In [67]:
model.model.save(output_folder+"/"+"finalized_model_description_only.h5")

In [68]:
## load the model and see if it is correct
from keras.models import load_model
model2 = load_model(output_folder+"/"+'finalized_model_description_only.h5')
y_test_pred=model2.predict(transformed_X_test)
r2_test=r2_score(y_test, y_test_pred)
print(r2_test)

0.7904129449780334

## Build model with all features as input

## TF-IDF

In [94]:
df=pd.read_csv(output_folder+"/all_after_preprocessingStopwords.csv")

In [95]:
df.head()

,MLS,price,city,communityName,address,postal,description,typeBuilding,title,bedroomAboveGrade,...,PlaygroundNearby,ShoppingNearby,PublicTransitNearby,HighwayNearby,bedroom,bathroom,longitude,latitude,misterious_number,total_words
0,W5238356,958800,Brampton,Sandringham-Wellington,232 BRUSSELS AVEBrampton,L6Z0G1,beautiful bright spacious home heart lake comm...,House,Freehold,4,...,False,False,True,False,5,4.0,-79.7953,43.7328,28454310,117
1,W5226917,970000,Brampton,Downtown Brampton,#LOT 12 -57 MCMURCHY AVE SBrampton,L6Y1Y6,assignment sunfield community ridgehill town l...,Row / Townhouse,Condominium,3,...,False,False,True,False,3,4.0,-79.7876,43.6249,28404652,91
2,W5226514,1249900,Brampton,Fletcher's Creek South,208 ROLLINGWOOD DRBrampton,L6Y5J6,border mississauga 4 detached house plus 3 wal...,House,Freehold,4,...,False,False,True,False,7,4.0,-79.7876,43.6249,28403072,89
3,W5234770,1249900,Brampton,Fletcher's West,92 MOFFATT AVEBrampton,L6Y4K8,premium corner lot 4 plus 2 finished legal bas...,House,Freehold,4,...,False,False,True,False,6,4.0,-79.7876,43.6249,28439785,73
4,W5234047,1249900,Brampton,Fletcher's West,85 WHITE TAIL CRESBrampton,L6Y5C1,beautiful detached house 4 4 separate main flo...,House,Freehold,4,...,False,False,False,False,4,4.0,-79.7876,43.6249,28434998,76

In [96]:
df['description'] = df['description'].astype(str)

## TF-IDF Vectorization

In [97]:
# Create an instance of TfidfVectorizer
# ngram_range: (1,3) from 1-gram to 3-gram are included
# min_df = the smallest number of rows that the word has occured in for the word to be included
# min_df = the largest number of rows that the word has occured in for the word to be included
from sklearn.feature_extraction.text import TfidfVectorizer
#consider only unigram
vectoriser = TfidfVectorizer(analyzer='word', min_df=0.03, max_df=0.95) # ngram_range=(1,3),

In [98]:
# Fit to the data and transform to feature matrix
# just check the first 5 rows
vectors = vectoriser.fit_transform(df['description'])

In [99]:
feature_names = vectoriser.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df_desc = pd.DataFrame(denselist, columns=feature_names)

In [100]:
df_desc.head()

,10,20,2018,2019,2020,2021,24,401,access,across,...,wide,window,wine,within,wood,work,yard,year,yonge,york
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.157224,0.0,0.0,...,0.0,0.077763,0.0,0.0,0.0,0.0,0.0,0.344994,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.085280,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

## process all the features

## numerical features

In [101]:
numerical_features=["bedroom","bedroomAboveGrade","bedroomBelowGrade","bathroom", "bathroomTotal","bathroomPartial", "totalParkingSpaces", "storeys", "maintenanceFees",  'landSize', 'longitude', "latitude"]

In [102]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
X_num=df[numerical_features]
X_num.head()

,bedroom,bedroomAboveGrade,bedroomBelowGrade,bathroom,bathroomTotal,bathroomPartial,totalParkingSpaces,storeys,maintenanceFees,landSize,longitude,latitude
0,5,4,1,4.0,4,0,4,2.0,670.51,2230.1475,-79.7953,43.7328
1,3,3,0,4.0,4,0,1,3.0,670.51,0.0000,-79.7876,43.6249
2,7,4,3,4.0,4,0,8,2.0,670.51,4620.0000,-79.7876,43.6249
3,6,4,2,4.0,4,0,4,2.0,670.51,5063.6808,-79.7876,43.6249
4,4,4,0,4.0,4,0,4,2.5,670.51,3169.0000,-79.7876,43.6249

## Normalization for numerical data (exclude longitude and latitude) using MinMaxScaler

In [103]:
from sklearn.preprocessing import MinMaxScaler
# recaling the variables (both)
X_num_columns = X_num.columns
scaler = MinMaxScaler()
X_num = scaler.fit_transform(X_num)

# rename columns (since now its an np array)
X_num = pd.DataFrame(X_num)
X_num.columns = X_num_columns

## Normalization for longitude and latitude sepeparately

In [104]:
X_num.drop(["longitude", "latitude"], axis=1)
normed_long= df["longitude"] *0.01
normed_lat= df["latitude"] *0.01
X_num=pd.concat([X_num, normed_long, normed_lat], axis=1)

## Boolean features

In [105]:
boolean_features=['parkingAttachedGarage',
       'parkingUnderground', 'parkingInsideEntry', 'parkingSurfaced',
       'parkingOversize', 'parkingGravel', 'parkingGarage', 'parkingShared',
       'parkingDetachedGarage', 'parkingCarport', 'parkingInterlocked',
       'parkingVisitorParking','amenityClubhouse', 'amenityCarWash', 'amenityMusicRoom',
       'amenityStorageLocker', 'amenitySauna', 'amenityPartyRoom',
       'amenityRecreationCentre', 'amenityGuestSuite', 'amenityFurnished',
       'amenityLaundryFacility', 'amenityExerciseCentre',
       'amenityLaundryInSuite', 'amenitySecurity', 'amenityWhirlpool',
       'efinishWood', 'efinishBrick', 'efinishHardboard', 'efinishWoodsiding',
       'efinishLog', 'efinishMetal', 'efinishSteel', 'efinishStone',
       'efinishWoodshingles', 'efinishStucco', 'efinishSiding',
       'efinishConcrete', 'efinishShingles', 'efinishAluminumsiding',
       'efinishCedarshingles', 'efinishVinyl', 'efinishVinylsiding',
       'featurePetNotAllowed', 'AirportNearby',
       'GolfNearby', 'MarinaNearby', 'ShoppingNearby', 'WaterNearby',
       'WorshipPlaceNearby', 'RecreationNearby', 'PlaygroundNearby',
       'PublicTransitNearby', 'ParkNearby', 'SchoolsNearby', 'HospitalNearby',
       'HighwayNearby', 'SkiAreaNearby']

X_boo=df[boolean_features]

## Convert categorical data with string values into numerical values

In [106]:
X_category=df[['city', 'typeBuilding', 'title', 'styleAttach', 
       'cooling', 'basementType', 'basementFinish',
       'heatingType1', 'heatingType2', 'heatingEnergy1', 'heatingEnergy2', 'featureLotSlope', 'featureDriveway', 'featureLotPositionType',
       'featureOutdoorAreaType', 'featureOutdoorLandscape',
       'featureAdditionalFacility']]

In [107]:
## convert categorical data to numerical values
cate_features=['city', 'typeBuilding', 'title', 'styleAttach', 'cooling',  'basementType', 'basementFinish','heatingType1', 'heatingType2', 'heatingEnergy1', 'heatingEnergy2', 'featureLotSlope', 'featureDriveway', 'featureLotPositionType',
       'featureOutdoorAreaType', 'featureOutdoorLandscape',
       'featureAdditionalFacility']
for col in cate_features:
    X_category[col] = X_category[col].astype('category')
    X_category[col] = X_category[col].cat.codes

<ipython-input-107-3a5b2f48f5f1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_category[col] = X_category[col].astype('category')
<ipython-input-107-3a5b2f48f5f1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_category[col] = X_category[col].cat.codes

In [108]:
X_category.head()

,city,typeBuilding,title,styleAttach,cooling,basementType,basementFinish,heatingType1,heatingType2,heatingEnergy1,heatingEnergy2,featureLotSlope,featureDriveway,featureLotPositionType,featureOutdoorAreaType,featureOutdoorLandscape,featureAdditionalFacility
0,0,3,3,3,1,4,0,3,0,2,0,3,4,3,1,3,3
1,0,8,2,0,1,4,3,3,0,2,0,3,4,3,1,3,3
2,0,3,3,1,1,4,0,3,0,2,0,3,4,3,1,3,3
3,0,3,3,1,1,4,0,3,0,2,0,3,4,3,1,3,3
4,0,3,3,1,1,3,3,3,0,2,0,3,4,3,1,3,3

## Normalize the categorical data

In [109]:
from sklearn.preprocessing import MinMaxScaler

# recaling the variables (both)
X_category_columns = X_category.columns
scaler = MinMaxScaler()
X_category = scaler.fit_transform(X_category)

# rename columns (since now its an np array)
X_category = pd.DataFrame(X_category)
X_category.columns = X_category_columns

X_category.head()

,city,typeBuilding,title,styleAttach,cooling,basementType,basementFinish,heatingType1,heatingType2,heatingEnergy1,heatingEnergy2,featureLotSlope,featureDriveway,featureLotPositionType,featureOutdoorAreaType,featureOutdoorLandscape,featureAdditionalFacility
0,0.0,0.3,0.6,0.428571,0.2,0.8,0.0,0.428571,0.0,0.4,0.0,0.6,0.666667,1.0,0.333333,0.272727,0.5
1,0.0,0.8,0.4,0.000000,0.2,0.8,1.0,0.428571,0.0,0.4,0.0,0.6,0.666667,1.0,0.333333,0.272727,0.5
2,0.0,0.3,0.6,0.142857,0.2,0.8,0.0,0.428571,0.0,0.4,0.0,0.6,0.666667,1.0,0.333333,0.272727,0.5
3,0.0,0.3,0.6,0.142857,0.2,0.8,0.0,0.428571,0.0,0.4,0.0,0.6,0.666667,1.0,0.333333,0.272727,0.5
4,0.0,0.3,0.6,0.142857,0.2,0.6,1.0,0.428571,0.0,0.4,0.0,0.6,0.666667,1.0,0.333333,0.272727,0.5

## Use numerical, boolean, categorical, and description data to predict

In [110]:
X_all = pd.concat([X_num, X_boo, X_category, df_desc], axis=1)
X_all.head()

,bedroom,bedroomAboveGrade,bedroomBelowGrade,bathroom,bathroomTotal,bathroomPartial,totalParkingSpaces,storeys,maintenanceFees,landSize,...,wide,window,wine,within,wood,work,yard,year,yonge,york
0,0.277778,0.444444,0.111111,0.16,0.16,0.0,0.015385,0.500,0.068565,0.000055,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1,0.166667,0.333333,0.000000,0.16,0.16,0.0,0.003846,0.750,0.068565,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,0.388889,0.444444,0.333333,0.16,0.16,0.0,0.030769,0.500,0.068565,0.000114,...,0.0,0.077763,0.0,0.0,0.0,0.0,0.0,0.344994,0.0,0.0
3,0.333333,0.444444,0.222222,0.16,0.16,0.0,0.015385,0.500,0.068565,0.000125,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4,0.222222,0.444444,0.000000,0.16,0.16,0.0,0.015385,0.625,0.068565,0.000078,...,0.0,0.085280,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

## divide dataset

In [111]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X_all, labels_price, test_size=0.1, random_state=13)

In [112]:
X_train = np.asarray(X_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)

### Build gradient boosting model

In [113]:
import numpy as np 
from sklearn import ensemble
params = {'n_estimators': 1000,
          'max_depth': 4,
          'learning_rate': 0.02,
          'subsample': 0.8
         }

reg = ensemble.GradientBoostingRegressor(**params)

y_train_flat=np.ravel(y_train)
reg.fit(X_train, y_train_flat)

GradientBoostingRegressor(learning_rate=0.02, max_depth=4, n_estimators=1000,
                          subsample=0.8)

## Training R2 and RMSE

In [114]:
y_train_pred=reg.predict(X_train)

In [115]:
from sklearn.metrics import r2_score
r2_train=r2_score(y_train, y_train_pred)
print(r2_train)

0.9599178887473355

In [116]:
from sklearn.metrics import mean_squared_error
rmse_train=mean_squared_error(y_train, y_train_pred, squared=False)
print(rmse_train)

0.007750552349057598

## Testing R2 and RMSE

In [117]:
y_test_pred=reg.predict(X_test)

In [118]:
r2_test=r2_score(y_test, y_test_pred)
print(r2_test)

0.7183701361644137

In [119]:
rmse_test=mean_squared_error(y_test, y_test_pred, squared=False)
print(rmse_test)

0.014390237072889648

## save the model to disk

In [120]:
import pickle
filename = 'finalized_model_all_features.sav'
pickle.dump(reg, open(output_folder+"/"+filename, 'wb'))

## load the model from disk

In [121]:
loaded_model = pickle.load(open(output_folder+"/"+filename, 'rb'))
y_test_pred = loaded_model.predict(X_test)
r2_test=r2_score(y_test, y_test_pred)
print(r2_test)

0.7183701361644137