In [6]:
import pandas as pd
import os

project_folder="C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/"
output_folder=project_folder+"output"

df=pd.read_csv(output_folder+"/"+"all_after_preprocessing6.csv")

In [7]:
df.head()

,MLS,price,city,communityName,address,postal,description,typeBuilding,title,bedroomAboveGrade,...,GolfNearby,HospitalNearby,PlaygroundNearby,ShoppingNearby,PublicTransitNearby,HighwayNearby,bedroom,bathroom,longitude,latitude
0,W5238356,958800,Brampton,Sandringham-Wellington,232 BRUSSELS AVEBrampton,L6Z0G1,"Beautiful, Bright & Spacious Home In The Heart...",House,Freehold,4,...,False,True,False,False,True,False,5,4.0,-79.7953,43.7328
1,W5226917,970000,Brampton,Downtown Brampton,#LOT 12 -57 MCMURCHY AVE SBrampton,L6Y1Y6,This Is An Assignment Sale !!!Sunfield Communi...,Row / Townhouse,Condominium,3,...,False,True,False,False,True,False,3,4.0,-79.7876,43.6249
2,W5226514,1249900,Brampton,Fletcher's Creek South,208 ROLLINGWOOD DRBrampton,L6Y5J6,"Location-Location- Border Of Mississauga, 4 Be...",House,Freehold,4,...,False,False,False,False,True,False,7,4.0,-79.7876,43.6249
3,W5234770,1249900,Brampton,Fletcher's West,92 MOFFATT AVEBrampton,L6Y4K8,Premium Corner Lot(4 Bdrms+2 Bdrms Finished Le...,House,Freehold,4,...,False,False,False,False,True,False,6,4.0,-79.7876,43.6249
4,W5234047,1249900,Brampton,Fletcher's West,85 WHITE TAIL CRESBrampton,L6Y5C1,Beautiful Detached House With 4 Bedrooms And 4...,House,Freehold,4,...,False,False,False,False,False,False,4,4.0,-79.7876,43.6249

In [8]:
df.columns

Index(['MLS', 'price', 'city', 'communityName', 'address', 'postal',
       'description', 'typeBuilding', 'title', 'bedroomAboveGrade',
       'bedroomBelowGrade', 'bathroomTotal', 'bathroomPartial',
       'totalParkingSpaces', 'storeys', 'styleAttach', 'maintenanceFees',
       'maintenanceManagementCompany', 'cooling', 'parkingGravel',
       'parkingGarage', 'parkingCarport', 'parkingAttachedGarage',
       'parkingShared', 'parkingDetachedGarage', 'parkingSurfaced',
       'parkingOversize', 'parkingInsideEntry', 'parkingUnderground',
       'parkingVisitorParking', 'parkingInterlocked', 'landSize',
       'basementType', 'basementFinish', 'amenitySecurity',
       'amenityStorageLocker', 'amenityLaundryFacility', 'amenityCarWash',
       'amenityGuestSuite', 'amenityFurnished', 'amenityPartyRoom',
       'amenityLaundryInSuite', 'amenityWhirlpool', 'amenitySauna',
       'amenityRecreationCentre', 'amenityClubhouse', 'amenityExerciseCentre',
       'amenityMusicRoom', 'heatingType1', 'heatingType2', 'heatingEnergy1',
       'heatingEnergy2', 'efinishWood', 'efinishStone',
       'efinishAluminumsiding', 'efinishMetal', 'efinishBrick',
       'efinishWoodshingles', 'efinishVinylsiding', 'efinishHardboard',
       'efinishStucco', 'efinishSiding', 'efinishLog', 'efinishCedarshingles',
       'efinishConcrete', 'efinishSteel', 'efinishWoodsiding',
       'efinishShingles', 'efinishVinyl', 'featureLotSlope', 'featureDriveway',
       'featureLotPositionType', 'featureOutdoorAreaType',
       'featureOutdoorLandscape', 'featureAdditionalFacility',
       'featurePetNotAllowed', 'MarinaNearby', 'RecreationNearby',
       'AirportNearby', 'ParkNearby', 'SchoolsNearby', 'SkiAreaNearby',
       'WorshipPlaceNearby', 'WaterNearby', 'GolfNearby', 'HospitalNearby',
       'PlaygroundNearby', 'ShoppingNearby', 'PublicTransitNearby',
       'HighwayNearby', 'bedroom', 'bathroom', 'longitude', 'latitude'],
      dtype='object')

## Do feature selection for numerical data (true numerical data)

https://towardsdatascience.com/feature-selection-techniques-in-machine-learning-with-python-f24e7da3f36e#:~:text=Feature%20Selection%20is%20the%20process,learn%20based%20on%20irrelevant%20features

In [9]:
df.maintenanceFees.value_counts()

670.51    5714
510.00      10
385.00       9
450.00       9
425.00       9
          ...
566.79       1
716.26       1
511.25       1
674.71       1
441.99       1
Name: maintenanceFees, Length: 3704, dtype: int64

In [10]:
df[df.bedroomAboveGrade=="NotListed"].typeBuilding.value_counts()

Series([], Name: typeBuilding, dtype: int64)

In [11]:
numerical_features=["bedroom","bedroomAboveGrade","bedroomBelowGrade","bathroom", "bathroomTotal","bathroomPartial", "totalParkingSpaces", "storeys", "maintenanceFees",  'landSize', 'longitude', "latitude"]

In [12]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
X=df[numerical_features]
X.head()

,bedroom,bedroomAboveGrade,bedroomBelowGrade,bathroom,bathroomTotal,bathroomPartial,totalParkingSpaces,storeys,maintenanceFees,landSize,longitude,latitude
0,5,4,1,4.0,4,0,4,2.0,670.51,2230.1475,-79.7953,43.7328
1,3,3,0,4.0,4,0,1,3.0,670.51,0.0000,-79.7876,43.6249
2,7,4,3,4.0,4,0,8,2.0,670.51,4620.0000,-79.7876,43.6249
3,6,4,2,4.0,4,0,4,2.0,670.51,5063.6808,-79.7876,43.6249
4,4,4,0,4.0,4,0,4,2.5,670.51,3169.0000,-79.7876,43.6249

In [13]:
print(len(X.columns))

12

## Normalization for price

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df["price"] = pd.DataFrame(scaler.fit_transform(pd.DataFrame(df["price"])))

In [15]:
df.price.describe()

count    10251.000000
mean         0.024581
std          0.037716
min          0.000000
25%          0.011063
50%          0.015761
75%          0.024781
max          1.000000
Name: price, dtype: float64

In [16]:
pd.options.display.float_format = '{:.8f}'.format

y = df.iloc[:,1]    #target column, price
y.head()

0   0.01780541
1   0.01803439
2   0.02375690
3   0.02375690
4   0.02375690
Name: price, dtype: float64

## Normalization for numerical data (including longitude and latitude) using MinMaxScaler

In [17]:
from sklearn.preprocessing import MinMaxScaler
# recaling the variables (both)
X_columns = X.columns
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

# rename columns (since now its an np array)
X = pd.DataFrame(X)
X.columns = X_columns

## Normalization for longitude and latitude sepeparately

In [18]:
X.drop(["longitude", "latitude"], axis=1)
normed_long= df["longitude"] *0.01
normed_lat= df["latitude"] *0.01
X=pd.concat([X, normed_long, normed_lat], axis=1)

In [19]:
X.head()

,bedroom,bedroomAboveGrade,bedroomBelowGrade,bathroom,bathroomTotal,bathroomPartial,totalParkingSpaces,storeys,maintenanceFees,landSize,longitude,latitude,longitude,latitude
0,0.27777778,0.44444444,0.11111111,0.16000000,0.16000000,0.00000000,0.01538462,0.50000000,0.06856464,0.00005505,0.05392773,0.16157717,-0.79795300,0.43732800
1,0.16666667,0.33333333,0.00000000,0.16000000,0.16000000,0.00000000,0.00384615,0.75000000,0.06856464,0.00000000,0.05419651,0.13817559,-0.79787600,0.43624900
2,0.38888889,0.44444444,0.33333333,0.16000000,0.16000000,0.00000000,0.03076923,0.50000000,0.06856464,0.00011404,0.05419651,0.13817559,-0.79787600,0.43624900
3,0.33333333,0.44444444,0.22222222,0.16000000,0.16000000,0.00000000,0.01538462,0.50000000,0.06856464,0.00012500,0.05419651,0.13817559,-0.79787600,0.43624900
4,0.22222222,0.44444444,0.00000000,0.16000000,0.16000000,0.00000000,0.01538462,0.62500000,0.06856464,0.00007823,0.05419651,0.13817559,-0.79787600,0.43624900

In [20]:
pd.options.display.float_format = '{:.4f}'.format
pd.set_option("display.max_rows", 5)

In [21]:
from sklearn.feature_selection import f_regression

#apply SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(score_func=f_regression, k=12) #chi2
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(12,'Score'))  #print 10 best features

            Specs     Score
4   bathroomTotal 1674.9370
3        bathroom 1569.7424
..            ...       ...
11       latitude   32.8685
10      longitude   32.2086

[12 rows x 2 columns]

In [22]:
pd.set_option("display.max_rows", 5)

## Categorical features: Boolean features

In [23]:
boolean_features=['parkingAttachedGarage',
       'parkingUnderground', 'parkingInsideEntry', 'parkingSurfaced',
       'parkingOversize', 'parkingGravel', 'parkingGarage', 'parkingShared',
       'parkingDetachedGarage', 'parkingCarport', 'parkingInterlocked',
       'parkingVisitorParking','amenityClubhouse', 'amenityCarWash', 'amenityMusicRoom',
       'amenityStorageLocker', 'amenitySauna', 'amenityPartyRoom',
       'amenityRecreationCentre', 'amenityGuestSuite', 'amenityFurnished',
       'amenityLaundryFacility', 'amenityExerciseCentre',
       'amenityLaundryInSuite', 'amenitySecurity', 'amenityWhirlpool',
       'efinishWood', 'efinishBrick', 'efinishHardboard', 'efinishWoodsiding',
       'efinishLog', 'efinishMetal', 'efinishSteel', 'efinishStone',
       'efinishWoodshingles', 'efinishStucco', 'efinishSiding',
       'efinishConcrete', 'efinishShingles', 'efinishAluminumsiding',
       'efinishCedarshingles', 'efinishVinyl', 'efinishVinylsiding',
       'featurePetNotAllowed', 'AirportNearby',
       'GolfNearby', 'MarinaNearby', 'ShoppingNearby', 'WaterNearby',
       'WorshipPlaceNearby', 'RecreationNearby', 'PlaygroundNearby',
       'PublicTransitNearby', 'ParkNearby', 'SchoolsNearby', 'HospitalNearby',
       'HighwayNearby', 'SkiAreaNearby']

In [24]:
X_cat=df[boolean_features]

In [25]:
print(len(X_cat.columns))

58

#apply SelectKBest class to extract top 10 best features
bestfeatures2 = SelectKBest(score_func=chi2, k=58)
fit2 = bestfeatures2.fit(X_cat,y)
dfscores = pd.DataFrame(fit2.scores_)
dfcolumns = pd.DataFrame(X_cat.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(58,'Score'))  #print 10 best features

## Use only numerical  to do regression with Gradient Boosting and see

In [22]:
from sklearn import datasets, ensemble
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import math 

#divide dataset
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.1, random_state=13)

params = {'n_estimators': 1000,
          'max_depth': 4,
          'min_samples_split': 5,
          'learning_rate': 0.01,
          'loss': 'ls'}

reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)

mse = mean_squared_error(y_test, reg.predict(X_test), squared=False)
#rmse=math.sqrt(mse)

print("The root mean squared error (RMSE) on test set: {:.4f}".format(mse))

The root mean squared error (RMSE) on test set: 0.0159

## when bedroom columns and bathroom columns are combined respectively

In [23]:
X_remove_dup=X[["bathroom", "totalParkingSpaces", "maintenanceFees", "bedroom", "landSize", "storeys", "longitude", "latitude"]]

In [24]:
from sklearn import datasets, ensemble
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import math 

#divide dataset
X_train, X_test, y_train, y_test = train_test_split(
    X_remove_dup, y, test_size=0.1, random_state=13)

params = {'n_estimators': 1000,
          'max_depth': 4,
          'min_samples_split': 5,
          'learning_rate': 0.01,
          'loss': 'ls'}

reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)

mse = mean_squared_error(y_test, reg.predict(X_test), squared=False)
#rmse=math.sqrt(mse)

print("The root mean squared error (RMSE) on test set: {:.4f}".format(mse))

The root mean squared error (RMSE) on test set: 0.0161

## when bedroom and bathroom are seperated as bedroomAboveGrade, bedroomBelowGrade; bathroomTotal, bathroomPartial

In [31]:
X_remove_newadd=X[["bathroomTotal", "bathroomPartial", "totalParkingSpaces", "maintenanceFees", "bedroomAboveGrade","bedroomBelowGrade", "landSize", "storeys", "longitude", "latitude"]]

In [26]:
from sklearn import datasets, ensemble
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import math 

#divide dataset3
X_train, X_test, y_train, y_test = train_test_split(
    X_remove_newadd, y, test_size=0.1, random_state=13)

params = {'n_estimators': 2000,
          'max_depth': 4,
          'min_samples_split': 5,
          'learning_rate': 0.01, #0.01 is the best
          'loss': 'huber'}

reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)

mse = mean_squared_error(y_test, reg.predict(X_test), squared=False)
#rmse=math.sqrt(mse)

print("The root mean squared error (RMSE) on test set: {:.4f}".format(mse))

The root mean squared error (RMSE) on test set: 0.0155

## only use top 5 numerical features

In [27]:
X_top5nu=X[["bathroomTotal", "totalParkingSpaces", "maintenanceFees", "bedroomAboveGrade", "landSize"]]

In [28]:
#divide dataset
X_train, X_test, y_train, y_test = train_test_split(
    X_top5nu, y, test_size=0.1, random_state=12)

params = {'n_estimators': 1000,
          'max_depth': 4,
          'min_samples_split': 5,
          'learning_rate': 0.01,
          'loss': 'huber'}

reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)

mse = mean_squared_error(y_test, reg.predict(X_test), squared=False)
#rmse=math.sqrt(mse)

print("The root mean squared error (RMSE) on test set: {:.4f}".format(mse))

The root mean squared error (RMSE) on test set: 0.0195

## Use only boolean features to do regression

In [29]:
from sklearn import datasets, ensemble
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import math 

#divide dataset
X_train, X_test, y_train, y_test = train_test_split(
    X_cat, y, test_size=0.1, random_state=13)

params = {'n_estimators': 500,
          'max_depth': 4,
          'min_samples_split': 5,
          'learning_rate': 0.01,
          'loss': 'ls'}

reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)

mse = mean_squared_error(y_test, reg.predict(X_test), squared=False)
#rmse=math.sqrt(mse)

print("The root mean squared error (RMSE) on test set: {:.4f}".format(mse))

The root mean squared error (RMSE) on test set: 0.0289

## Use both numerical and boolean to do  regression

In [30]:
num_boo_features=numerical_features+boolean_features

In [31]:
X_nb=df[num_boo_features]

In [32]:
from sklearn import datasets, ensemble
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import math 

#divide dataset
X_train, X_test, y_train, y_test = train_test_split(
    X_nb, y, test_size=0.1, random_state=13)

params = {'n_estimators': 1000,
          'max_depth': 3,
          'min_samples_split': 5,
          'learning_rate': 0.01,
          'loss': 'ls'}

reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)

mse = mean_squared_error(y_test, reg.predict(X_test), squared=False)
#rmse=math.sqrt(mse)

print("The root mean squared error (RMSE) on test set: {:.4f}".format(mse))

The root mean squared error (RMSE) on test set: 0.0162

## Try XGBoost on numerical features

In [33]:
X_nb['bedroomAboveGrade'] = pd.to_numeric(X_nb['bedroomAboveGrade'])
X_nb['totalParkingSpaces'] = pd.to_numeric(X_nb['totalParkingSpaces'])

<ipython-input-33-6eca3d891dc6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_nb['bedroomAboveGrade'] = pd.to_numeric(X_nb['bedroomAboveGrade'])
<ipython-input-33-6eca3d891dc6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_nb['totalParkingSpaces'] = pd.to_numeric(X_nb['totalParkingSpaces'])

In [34]:
#divide dataset
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.1, random_state=13)

In [36]:
import xgboost

In [37]:
model = xgboost.XGBRegressor()

model.fit(X_train, y_train)
mse = mean_squared_error(y_test, model.predict(X_test), squared=False)
print("The root mean squared error (RMSE) on test set: {:.4f}".format(mse))

## Convert categorical data with string values into numerical values

In [26]:
X_category=df[['city', 'typeBuilding', 'title', 'styleAttach', 
       'cooling', 'basementType', 'basementFinish',
       'heatingType1', 'heatingType2', 'heatingEnergy1', 'heatingEnergy2', 'featureLotSlope', 'featureDriveway', 'featureLotPositionType',
       'featureOutdoorAreaType', 'featureOutdoorLandscape',
       'featureAdditionalFacility']]

In [27]:
## convert categorical data to numerical values
cate_features=['city', 'typeBuilding', 'title', 'styleAttach', 'cooling',  'basementType', 'basementFinish','heatingType1', 'heatingType2', 'heatingEnergy1', 'heatingEnergy2', 'featureLotSlope', 'featureDriveway', 'featureLotPositionType',
       'featureOutdoorAreaType', 'featureOutdoorLandscape',
       'featureAdditionalFacility']
for col in cate_features:
    X_category[col] = X_category[col].astype('category')
    X_category[col] = X_category[col].cat.codes

<ipython-input-27-3a5b2f48f5f1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_category[col] = X_category[col].astype('category')
<ipython-input-27-3a5b2f48f5f1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_category[col] = X_category[col].cat.codes

In [28]:
X_category.head()

,city,typeBuilding,title,styleAttach,cooling,basementType,basementFinish,heatingType1,heatingType2,heatingEnergy1,heatingEnergy2,featureLotSlope,featureDriveway,featureLotPositionType,featureOutdoorAreaType,featureOutdoorLandscape,featureAdditionalFacility
0,0,3,3,3,1,4,0,3,0,2,0,3,4,3,1,3,3
1,0,8,2,0,1,4,3,3,0,2,0,3,4,3,1,3,3
2,0,3,3,1,1,4,0,3,0,2,0,3,4,3,1,3,3
3,0,3,3,1,1,4,0,3,0,2,0,3,4,3,1,3,3
4,0,3,3,1,1,3,3,3,0,2,0,3,4,3,1,3,3

## Normalize the categorical data

In [29]:
from sklearn.preprocessing import MinMaxScaler

# recaling the variables (both)
X_category_columns = X_category.columns
scaler = MinMaxScaler()
X_category = scaler.fit_transform(X_category)

# rename columns (since now its an np array)
X_category = pd.DataFrame(X_category)
X_category.columns = X_category_columns

X_category.head()

,city,typeBuilding,title,styleAttach,cooling,basementType,basementFinish,heatingType1,heatingType2,heatingEnergy1,heatingEnergy2,featureLotSlope,featureDriveway,featureLotPositionType,featureOutdoorAreaType,featureOutdoorLandscape,featureAdditionalFacility
0,0.0000,0.3000,0.6000,0.4286,0.2000,0.8000,0.0000,0.4286,0.0000,0.4000,0.0000,0.6000,0.6667,1.0000,0.3333,0.2727,0.5000
1,0.0000,0.8000,0.4000,0.0000,0.2000,0.8000,1.0000,0.4286,0.0000,0.4000,0.0000,0.6000,0.6667,1.0000,0.3333,0.2727,0.5000
2,0.0000,0.3000,0.6000,0.1429,0.2000,0.8000,0.0000,0.4286,0.0000,0.4000,0.0000,0.6000,0.6667,1.0000,0.3333,0.2727,0.5000
3,0.0000,0.3000,0.6000,0.1429,0.2000,0.8000,0.0000,0.4286,0.0000,0.4000,0.0000,0.6000,0.6667,1.0000,0.3333,0.2727,0.5000
4,0.0000,0.3000,0.6000,0.1429,0.2000,0.6000,1.0000,0.4286,0.0000,0.4000,0.0000,0.6000,0.6667,1.0000,0.3333,0.2727,0.5000

## Use only categorical data to predict;

In [42]:
from sklearn import datasets, ensemble
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import math 

#divide dataset
X_train, X_test, y_train, y_test = train_test_split(
    X_category, y, test_size=0.1, random_state=13)

params = {'n_estimators': 1000,
          'max_depth': 4,
          'min_samples_split': 5,
          'learning_rate': 0.01,
          'loss': 'ls'}

reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)

mse = mean_squared_error(y_test, reg.predict(X_test), squared=False)
#rmse=math.sqrt(mse)

print("The root mean squared error (RMSE) on test set: {:.4f}".format(mse))

The root mean squared error (RMSE) on test set: 0.0233

## Use numerical, boolean, and categorical data to predict

In [32]:
X_result = pd.concat([X_remove_newadd, X_cat, X_category], axis=1)
X_result.head()

,bathroomTotal,bathroomPartial,totalParkingSpaces,maintenanceFees,bedroomAboveGrade,bedroomBelowGrade,landSize,storeys,longitude,longitude,...,heatingType1,heatingType2,heatingEnergy1,heatingEnergy2,featureLotSlope,featureDriveway,featureLotPositionType,featureOutdoorAreaType,featureOutdoorLandscape,featureAdditionalFacility
0,0.1600,0.0000,0.0154,0.0686,0.4444,0.1111,0.0001,0.5000,0.0539,-0.7980,...,0.4286,0.0000,0.4000,0.0000,0.6000,0.6667,1.0000,0.3333,0.2727,0.5000
1,0.1600,0.0000,0.0038,0.0686,0.3333,0.0000,0.0000,0.7500,0.0542,-0.7979,...,0.4286,0.0000,0.4000,0.0000,0.6000,0.6667,1.0000,0.3333,0.2727,0.5000
2,0.1600,0.0000,0.0308,0.0686,0.4444,0.3333,0.0001,0.5000,0.0542,-0.7979,...,0.4286,0.0000,0.4000,0.0000,0.6000,0.6667,1.0000,0.3333,0.2727,0.5000
3,0.1600,0.0000,0.0154,0.0686,0.4444,0.2222,0.0001,0.5000,0.0542,-0.7979,...,0.4286,0.0000,0.4000,0.0000,0.6000,0.6667,1.0000,0.3333,0.2727,0.5000
4,0.1600,0.0000,0.0154,0.0686,0.4444,0.0000,0.0001,0.6250,0.0542,-0.7979,...,0.4286,0.0000,0.4000,0.0000,0.6000,0.6667,1.0000,0.3333,0.2727,0.5000

In [44]:
from sklearn import datasets, ensemble
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import math 

#divide dataset
X_train, X_test, y_train, y_test = train_test_split(
    X_result, y, test_size=0.1, random_state=13)

params = {'n_estimators': 1200,
          'max_depth': 6,
          'min_samples_split': 5,
          'learning_rate': 0.01,
          'loss': 'ls'}

reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)
y_pred=reg.predict(X_test)
mse = mean_squared_error(y_test, y_pred, squared=False)
#rmse=math.sqrt(mse)

print("The root mean squared error (RMSE) on test set: {:.4f}".format(mse))

The root mean squared error (RMSE) on test set: 0.0149

In [45]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.6969620150461151

## Check the training set RMSE

In [46]:
y_train_pred=reg.predict(X_train)
mse = mean_squared_error(y_train, y_train_pred, squared=False)
print("The root mean squared error (RMSE) on training set: {:.4f}".format(mse))

The root mean squared error (RMSE) on training set: 0.0075

## Other features that have not been used:

precise address;  
natural langauge data:  
 * 'address'  
 * 'description'  
 * 'maintenanceManagementCompany'

In [34]:
pd.set_option("display.max_rows", None)

In [37]:
from sklearn.feature_selection import f_regression

#apply SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(score_func=f_regression, k=12) #chi2
fit = bestfeatures.fit(X_result,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X_result.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(12,'Score'))  #print 10 best features

                     Specs     Score
0            bathroomTotal 1674.9370
2       totalParkingSpaces  601.5534
72                   title  514.1833
3          maintenanceFees  475.8582
4        bedroomAboveGrade  470.7107
45            efinishStone  434.7524
73             styleAttach  405.8400
84  featureOutdoorAreaType  284.7103
13      parkingUnderground  272.3988
18           parkingGarage  233.5156
34   amenityExerciseCentre  192.0079
6                 landSize  174.7506