In [2]:
import pandas as pd
import os

project_folder="C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/"
output_folder=project_folder+"output"

all_data=[]
num_data=0
for file in os.listdir(output_folder):
    if file.endswith(".csv"):
        if "details" in file:
            print(os.path.join(output_folder, file))
            df = pd.read_csv(os.path.join(output_folder, file), index_col=None, header=0)
            df['city']=file[0:5]
            print(str(len(df)))
            num_data= num_data + len(df)
            all_data.append(df)

print(num_data)

C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\brampton_950kp_details.csv
433
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\brampton_950k_details.csv
550
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\hamilton_1200kp_details.csv
267
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\hamilton_690-1200k_details.csv
561
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\hamilton_690k_details.csv
530
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\missi_900kp_details.csv
533
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\missi_900k_details.csv
591
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\ottawa_11May_details.csv
1280
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\ottawa_12May_details.csv
168
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\toronto_1200-1500k_details.csv
534
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\toronto_1500-2000k_details.csv
552
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\toronto_2000-3500k_details.csv
510
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\toronto_3500kp_details.csv
311
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\toronto_540-600k_details.csv
521
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\toronto_540k_details.csv
565
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\toronto_600-690k_details.csv
476
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\toronto_690-790k_details.csv
537
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\toronto_790-890k_details.csv
459
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\toronto_890-999k_details.csv
552
C:/Users/hanson/OneDrive/Grad/Grad Project/data_realtorCA/output\toronto_999-1200k_details.csv
488
10418

In [3]:
df_all_data = pd.concat(all_data)

In [4]:
df_all_data.to_csv(output_folder+"/"+"all_listings_raw.csv", index=False)

In [5]:
df_ori=pd.concat(all_data)
len(df_ori.columns)

58

In [6]:
df_ori.storeys.value_counts()

NotListed    4299
2            3578
1            1294
3             717
2.5000        256
1.5000        217
6              10
4               8
23              7
20              4
5               3
27              3
7               3
10              2
19              2
18              2
28              2
15              2
9               2
0               1
11              1
24              1
25              1
12              1
17              1
14              1
Name: storeys, dtype: int64

In [7]:
df_ori[df_ori["storeys"]=="4"]

,url,price,address,postal,MLS,description,propertyType,buildingType,storeys,neighborhoodName,...,roadType,view,presentUse,landscapeFeatures,access,zoningDescription,surfaceWater,waterfrontFeatures,waterfront,city
157,https://www.realtor.ca/real-estate/23161519/12...,399900,1201 OHIO STREET UNIT#203Ottawa,K1H0A1,1240161,Spacious 1 bed + den / 1 bath unit with in-uni...,Single Family,Apartment,4,Billings Bridge,...,NotListed,NotListed,NotListed,NotListed,NotListed,RES,NotListed,NotListed,NotListed,ottaw
323,https://www.realtor.ca/real-estate/23057841/27...,200000,270 BEECHWOOD AVENUE UNIT#2Ottawa,K1L8A6,1233598,Welcome to Rockcliffe Terrace. A rare opportun...,Single Family,Apartment,4,Vanier,...,NotListed,NotListed,NotListed,NotListed,NotListed,Residential,NotListed,NotListed,NotListed,ottaw
325,https://www.realtor.ca/real-estate/23178071/65...,219900,6532 BILBERRY DRIVE UNIT#312Ottawa,K1C4N9,1239946,Nicely updated 1 bedroom condo with balcony in...,Single Family,Apartment,4,Orleans Wood,...,NotListed,NotListed,NotListed,NotListed,NotListed,Residential,NotListed,NotListed,NotListed,ottaw
383,https://www.realtor.ca/real-estate/23141850/14...,440000,141 POTTS PRIVATE UNIT#308Ottawa,K4A0X9,1239500,"Indoor Parking, Elevators. Cardel's Apartmentl...",Single Family,Apartment,4,Notting Hill,...,NotListed,NotListed,NotListed,NotListed,NotListed,Residential Condo,NotListed,NotListed,NotListed,ottaw
465,https://www.realtor.ca/real-estate/23029983/52...,234900,520 FENERTY COURT UNIT#1Ottawa,K2L3B1,1234760,LOVELY First level unit has been updated from ...,Single Family,Apartment,4,Katimavik,...,NotListed,NotListed,NotListed,NotListed,NotListed,Residential,NotListed,NotListed,NotListed,ottaw
621,https://www.realtor.ca/real-estate/23171128/26...,279500,266 LORRY GREENBERG DRIVE UNIT#5Ottawa,K1T3J9,1240217,Sun filled southeast facing ground floor end/c...,Single Family,Apartment,4,Greenboro East,...,NotListed,NotListed,NotListed,NotListed,NotListed,residential,NotListed,NotListed,NotListed,ottaw
637,https://www.realtor.ca/real-estate/23162128/94...,359000,947 CUMMINGS AVENUEOttawa,K1J7R9,1230017,Completely refreshed unit: all you need to do ...,Single Family,House,4,Cyrville,...,NotListed,NotListed,NotListed,NotListed,NotListed,Res,NotListed,NotListed,NotListed,ottaw
85,https://www.realtor.ca/real-estate/23185720/20...,449000,202 ST PATRICK STREET UNIT#26Ottawa,K1N5K3,1241338,"Location! Location! Rarely offered, super cool...",Single Family,Apartment,4,North-West Byward Market,...,NotListed,NotListed,NotListed,NotListed,NotListed,MD2 S72,NotListed,NotListed,NotListed,ottaw

In [8]:
df_all_data=df_all_data.reset_index()

In [9]:
df_all_data.loc[(df_all_data.city == 'toron'),'city']='Toronto'
df_all_data.loc[(df_all_data.city == 'missi'),'city']='Mississauga'
df_all_data.loc[(df_all_data.city == 'ottaw'),'city']='Ottawa'
df_all_data.loc[(df_all_data.city == 'bramp'),'city']='Brampton'
df_all_data.loc[(df_all_data.city == 'hamil'),'city']='Hamilton'

In [10]:
df_all_data[df_all_data["MLS"]=="W5236717"]

,index,url,price,address,postal,MLS,description,propertyType,buildingType,storeys,...,roadType,view,presentUse,landscapeFeatures,access,zoningDescription,surfaceWater,waterfrontFeatures,waterfront,city
3382,508,https://www.realtor.ca/real-estate/23209704/90...,499900,#904 -2900 BATTLEFORD RDMississauga,L5N2V9,W5236717,Modern And Bright 2 Beds 1 Bath Condo For Sal...,Single Family,Apartment,NotListed,...,NotListed,NotListed,NotListed,NotListed,NotListed,NotListed,NotListed,NotListed,NotListed,Mississauga

## url

In [ ]:
#df_all_data[df_all_data['url'].duplicated(keep=False) == True].sort_values("url")

In [ ]:
df_all_data=df_all_data.drop_duplicates(subset=['url'])
len(df_all_data)

In [ ]:
list(df_all_data.columns)

## Price

In [ ]:
#
#pd.set_option('display.max_colwidth', None)
#pd.set_option('display.max_rows', 500)

#df_all_data[df_all_data['price']=="NotListed"]

In [ ]:
df_all_data=df_all_data[df_all_data['price']!="NotListed"]

In [ ]:
len(df_all_data)

In [ ]:
dictionary_notlisted={}
column_list=list(df_all_data.columns)
for column in column_list:
    num_missing=len(df_all_data[df_all_data[column]=="NotListed"])
    dictionary_notlisted[column]=num_missing

In [ ]:
dictionary_notlisted

In [ ]:
df_all_data["price"]=df_all_data["price"].astype(float)

In [ ]:
#df_all_data[df_all_data["price"]<80000]

In [ ]:
df_all_data=df_all_data[df_all_data["price"]>=80000]

In [ ]:
len(df_all_data)

## Address

In [ ]:
pd.set_option("display.max_rows", 12, "display.max_columns", None) 
pd.set_option('display.max_colwidth', None) #description full display

In [ ]:
df_all_data[df_all_data["address"]=="NotListed"]

In [ ]:
#df_all_data[df_all_data['MLS'].duplicated(keep=False) == True].sort_values("MLS")

In [ ]:
df_all_data=df_all_data.drop_duplicates(subset=['MLS'])
len(df_all_data)

In [ ]:
#df_all_data[df_all_data["description"]=="NotListed"]

In [ ]:
#df_all_data.propertyType.unique()

In [ ]:
len(df_all_data[df_all_data["propertyType"]=="Vacant Land"])

In [ ]:
#df_all_data.buildingType.unique()

In [ ]:
#df_all_data["buildingType"].value_counts()

In [ ]:
#df_all_data["storeys"].value_counts()

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
dictionary_notlisted={}
column_list=list(df_all_data.columns)
for column in column_list:
    num_missing=len(df_all_data[df_all_data[column]=="NotListed"])
    dictionary_notlisted[column]=num_missing

In [ ]:
dictionary_notlisted

In [ ]:
columns_missing9kp=['flooring','FixturesIncluded','architectureStyle','structures','fireProtection','fireplace','utilityCommunications', 'utilityType', 'maintenanceFeesInclude','fencing','roadType','view','presentUse','landscapeFeatures','access','surfaceWater','waterfrontFeatures', 'waterfront']
df_all_data = df_all_data.drop(columns_missing9kp, axis=1)
#df_all_data.columns

In [ ]:
#df_all_data[df_all_data["buildingFeatures"]!="NotListed"]

In [ ]:
#df_all_data["buildingFeatures"].value_counts()

In [ ]:
#df_all_data[df_all_data["style"]!="NotListed"]

In [ ]:
#df_all_data["style"].value_counts()

In [ ]:
#df_all_data["buildingAmenities"].value_counts()

In [ ]:
columns_missing5kp=['neighborhoodName', 'builtIn','appliancesIncluded','foundationType','sewer','water','communityFeatures','frontage', 'landDepth','zoningDescription']
df_all_data = df_all_data.drop(columns_missing5kp, axis=1)
#df_all_data.columns

In [ ]:
dictionary_notlisted={}
column_list=list(df_all_data.columns)
for column in column_list:
    num_missing=len(df_all_data[df_all_data[column]=="NotListed"])
    dictionary_notlisted[column]=num_missing

In [ ]:
dictionary_notlisted

In [ ]:
columns_to_remove=['index', 'url', 'propertyTaxes']
df_all_data = df_all_data.drop(columns_to_remove, axis=1)
#df_all_data.columns

In [ ]:
dictionary_notlisted={}
column_list=list(df_all_data.columns)
for column in column_list:
    num_missing=len(df_all_data[df_all_data[column]=="NotListed"])
    dictionary_notlisted[column]=num_missing
#dictionary_notlisted

In [ ]:
#df_all_data[df_all_data["communityName"]!="NotListed"]

In [ ]:
#df_all_data[df_all_data["title"]!="NotListed"]

In [ ]:
#df_all_data["title"].value_counts()

In [ ]:
#df_all_data["bedroomAboveGrade"].value_counts()

In [ ]:
#df_all_data["style"].value_counts()

In [ ]:
#df_all_data[df_all_data["landSize"]!="NotListed"]

In [ ]:
#df_all_data[df_all_data["parkingType"]!="NotListed"]

In [ ]:
#df_all_data["parkingType"].value_counts()

In [ ]:
#df_all_data["basementType"].value_counts()

In [ ]:
#df_all_data["cooling"].value_counts()

In [ ]:
#df_all_data["heatingType"].value_counts()

In [ ]:
#df_all_data["exteriorFinish"].value_counts()

In [ ]:
#df_all_data["amenitiesNearby"].value_counts()

In [ ]:
#df_all_data["totalParkingSpaces"].value_counts()

In [ ]:
#df_all_data["maintenanceFees"].value_counts()

In [ ]:
#df_all_data["maintenanceManagementCompany"].value_counts()

In [ ]:
#df_all_data["city"].value_counts()

## Statistics for Column "Price" 
## For all listings

Set the display option for describe()

In [ ]:
pd.set_option('float_format', '{:.2f}'.format)

In [ ]:
df_all_data["price"].describe()

Average price for all listings

In [ ]:
df_all_data["price"].mean()

Median price for all listings

In [ ]:
df_all_data["price"].median()

Mode price for all listings

In [ ]:
df_all_data["price"].mode()

In [ ]:
df_all_data["price"]=df_all_data["price"].astype(int)

## For Toronto

In [ ]:
df_toronto=df_all_data[df_all_data["city"]=="Toronto"]
len(df_toronto)

In [ ]:
df_toronto["price"].describe()

In [ ]:
df_toronto["price"].mean()

In [ ]:
df_toronto["price"].median()

In [ ]:
df_toronto["price"].mode()

## For Ottawa

In [ ]:
df_ottawa=df_all_data[df_all_data["city"]=="Ottawa"]
len(df_ottawa)

In [ ]:
df_ottawa["price"].describe()

In [ ]:
df_ottawa["price"].mean()

In [ ]:
df_ottawa["price"].median()

In [ ]:
df_ottawa["price"].mode()

## For Hamilton

In [ ]:
df_hamilton=df_all_data[df_all_data["city"]=="Hamilton"]
len(df_hamilton)

In [ ]:
df_hamilton["price"].describe()

In [ ]:
df_hamilton["price"].mean()

In [ ]:
df_hamilton["price"].median()

In [ ]:
df_hamilton["price"].mode()

## For Mississauga

In [ ]:
df_missi=df_all_data[df_all_data["city"]=="Mississauga"]
len(df_missi)

In [ ]:
df_missi["price"].describe()

In [ ]:
df_missi["price"].mean()

In [ ]:
df_missi["price"].median()

In [ ]:
df_missi["price"].mode()

## For Brampton

In [ ]:
df_brampton=df_all_data[df_all_data["city"]=="Brampton"]
len(df_brampton)

In [ ]:
df_brampton["price"].describe()

In [ ]:
df_brampton["price"].mean()

In [ ]:
df_brampton["price"].median()

In [ ]:
df_brampton["price"].median()

## Visualization: Show the distribution for house lower than 2 milion $

In [ ]:
price_lowerthan=2000000
num_bins=40

In [ ]:
import seaborn as sns

sns.set(style='whitegrid', palette="deep", font_scale=1.1, rc={"figure.figsize": [20, 8]})
sns.distplot(
    df_all_data[df_all_data['price']<=price_lowerthan]['price'], norm_hist=False, kde=True, bins=num_bins, hist_kws={"alpha": 1}).set(xlabel='price', ylabel='count',xlim=(80000,price_lowerthan+100000));

## Toronto

In [ ]:
import seaborn as sns

sns.set(style='whitegrid', palette="deep", font_scale=1.1, rc={"figure.figsize": [20, 8]})
sns.distplot(
    df_toronto[df_toronto['price']<=price_lowerthan]['price'], norm_hist=False, kde=True, bins=num_bins, hist_kws={"alpha": 1}
).set(xlabel='price', ylabel='count',xlim=(80000,price_lowerthan+100000));

## Ottawa

In [ ]:
import seaborn as sns

sns.set(style='whitegrid', palette="deep", font_scale=1.1, rc={"figure.figsize": [20, 8]})
sns.distplot(
    df_ottawa[df_ottawa['price']<=price_lowerthan]['price'], norm_hist=False, kde=True, bins=num_bins, hist_kws={"alpha": 1}
).set(xlabel='price', ylabel='count',xlim=(80000,price_lowerthan+100000));

## Hamilton

In [ ]:
import seaborn as sns

sns.set(style='whitegrid', palette="deep", font_scale=1.1, rc={"figure.figsize": [20, 8]})
sns.distplot(
    df_hamilton[df_hamilton['price']<=price_lowerthan]['price'], norm_hist=False, kde=True, bins=num_bins, hist_kws={"alpha": 1}
).set(xlabel='price', ylabel='count',xlim=(80000,price_lowerthan+100000));

## Mississauga

In [ ]:
import seaborn as sns

sns.set(style='whitegrid', palette="deep", font_scale=1.1, rc={"figure.figsize": [20, 8]})
sns.distplot(
    df_missi[df_missi['price']<=price_lowerthan]['price'], norm_hist=False, kde=True, bins=num_bins, hist_kws={"alpha": 1}
).set(xlabel='price', ylabel='count',xlim=(80000,price_lowerthan+100000));

## Brampton

In [ ]:
import seaborn as sns

sns.set(style='whitegrid', palette="deep", font_scale=1.1, rc={"figure.figsize": [20, 8]})
sns.distplot(
    df_brampton[df_brampton['price']<=price_lowerthan]['price'], norm_hist=False, kde=True, bins=num_bins, hist_kws={"alpha": 1}
).set(xlabel='price', ylabel='count',xlim=(80000,price_lowerthan+100000));

In [ ]:
sns.color_palette("tab10")

## for all listings

## Check the distribution for BedroomAboveGrade

In [ ]:
sns.displot(df_all_data[df_all_data["price"]<=1000000], x="price", hue="bedroomAboveGrade", multiple="stack",bins=20,
            height=10, aspect=2, palette='colorblind')

## check bathroomTotal

In [ ]:
sns.displot(df_all_data[df_all_data["price"]<=1000000], x="price", hue="bathroomTotal", multiple="stack",bins=20,
            height=10, aspect=2, palette='colorblind')

## Reorder the dataframe

In [ ]:
cols = df_all_data.columns.tolist()

In [ ]:
cols

In [ ]:
cols= ['MLS', #ID of the listing
 'price',
 'city',
 'communityName', #name of the community, could be used when the address is not available
 'address',
 'postal', #postal code
 'description',
 'propertyType', #identify Vacant Land for sale
 'buildingType', #identify types of building
 'title', #identify ownership of the building
 'bedroomAboveGrade', #the number of bedrooms on the ground
 'bedroomBelowGrade', #the number of bedrooms in the basement
 'bathroomTotal', #the number of bathrooms that have bath and toilet
 'bathroomPartial', #the number of bathrooms that only have toilet
 'parkingType', #garage/basement?
 'totalParkingSpaces', #the number of parking spaces
 'landSize',
 'storeys', #number of storeys
 'basementType',
 'style', #detached, or attached, or stacked... does not apply to condo
 'buildingAmenities', #only condo has this?
 'maintenanceFees', #only condo has this?
 'maintenanceManagementCompany', #only condo has this?
 'cooling',
 'heatingType',
 'exteriorFinish',
 'buildingFeatures', #Park/reserve, Country residential, parkland...
 'amenitiesNearby'
]

In [ ]:
df_all_data = df_all_data[cols]

## Clean "buildingType"

In [ ]:
#df_all_data["buildingType"].value_counts()

In [ ]:
df1=df_all_data[df_all_data["buildingType"]=="NotListed"]

In [ ]:
#show full content in description boxes
pd.set_option("display.max_colwidth", None)

## add a new column 'typeBuildng' to combine and replace "propertyType" and "buildingType"

In [ ]:
## add a new column 'typeBuildng' to combine and replace "propertyType" and "buildingType"
df_all_data['typeBuilding']=df_all_data['buildingType']

df_all_data['typeBuilding'] = df_all_data.apply(lambda x: 'Vacant Land' if x['propertyType'] == 'Vacant Land'  else x['typeBuilding'],axis=1)

In [ ]:
#df_all_data[df_all_data['typeBuilding']=="NotListed"]

In [ ]:
#df_all_data[df_all_data['typeBuilding']=="NotListed"]["description"].str.contains('semi-detached', case=False)

In [ ]:
df_all_data.loc[(df_all_data['description'].str.contains('semi-detached', case=False))& (df_all_data['typeBuilding']=="NotListed"), 'typeBuilding'] = 'Duplex'

In [ ]:
df_all_data.loc[(df_all_data['description'].str.contains('townhome', case=False))& (df_all_data['typeBuilding']=="NotListed"), 'typeBuilding'] = 'Row / Townhouse'

In [ ]:
df_all_data.loc[(df_all_data['description'].str.contains('condo', case=False))& (df_all_data['typeBuilding']=="NotListed"), 'typeBuilding'] = 'Apartment'
df_all_data.loc[(df_all_data['description'].str.contains('loft', case=False))& (df_all_data['typeBuilding']=="NotListed"), 'typeBuilding'] = 'Apartment'
df_all_data.loc[(df_all_data['description'].str.contains(' den ', case=False))& (df_all_data['typeBuilding']=="NotListed"), 'typeBuilding'] = 'Apartment'
df_all_data.loc[(df_all_data['description'].str.contains('unit', case=False))& (df_all_data['typeBuilding']=="NotListed"), 'typeBuilding'] = 'Apartment'
df_all_data.loc[(df_all_data['description'].str.contains('penthouse', case=False))& (df_all_data['typeBuilding']=="NotListed"), 'typeBuilding'] = 'Apartment'

In [ ]:
df_all_data.loc[df_all_data["MLS"]=="W5202453", 'typeBuilding']="Apartment"

In [ ]:
df_all_data.loc[(df_all_data['title'].str.contains('Freehold', case=False))& (df_all_data['typeBuilding']=="NotListed"), 'typeBuilding'] = 'House'

In [ ]:
#df_all_data[df_all_data['MLS']=="40115415"]

In [ ]:
#df_all_data['typeBuilding'].value_counts()

## check the Other building type

In [ ]:
#df_all_data[df_all_data['typeBuilding']=="Other"]

In [ ]:
df_all_data.loc[(df_all_data['description'].str.contains('townhouse', case=False))& (df_all_data['typeBuilding']=="Other"), 'typeBuilding'] = 'Row / Townhouse'

In [ ]:
#df_all_data[df_all_data['typeBuilding']=="Other"]["description"].str.contains(' lot!', case=False)

In [ ]:
df_all_data.loc[(df_all_data['description'].str.contains('detached', case=False))& (df_all_data['typeBuilding']=="Other"), 'typeBuilding'] = 'House'

In [ ]:
df_all_data.loc[(df_all_data['description'].str.contains(' lot!', case=False))& (df_all_data['typeBuilding']=="Other"), 'typeBuilding'] = 'Vacant Land'

## Identify Commercial Residential Mix used building

In [ ]:
df_all_data.loc[(df_all_data['description'].str.contains(' Mixed Use', case=False))& (df_all_data['typeBuilding']=="Other"), 'typeBuilding'] = 'Mixed'
df_all_data.loc[(df_all_data['description'].str.contains('Retail Store Currently Leased', case=False))& (df_all_data['typeBuilding']=="Other"), 'typeBuilding'] = 'Mixed'

## typeBuilding is Modular

In [ ]:
#df_all_data[df_all_data['typeBuilding']=="Modular"]

## typeBuilding is Manufactured Home

In [ ]:
#df_all_data[df_all_data['typeBuilding']=="Manufactured Home"]

## typeBuilding is Mobile Home

In [ ]:
#df_all_data[df_all_data['typeBuilding']=="Mobile Home"]

## typeBuilding is Manufactured Home/Mobile

In [ ]:
#df_all_data[df_all_data['typeBuilding']=="Manufactured Home/Mobile"]

## Combine Manufactured home, mobile home, and manufacturedhome/mobile together as "Manufactured/mobile"

In [ ]:
df_all_data.loc[df_all_data['typeBuilding']=="Manufactured Home", 'typeBuilding'] = 'Manufactured/mobile'

In [ ]:
df_all_data.loc[df_all_data['typeBuilding']=="Mobile Home", 'typeBuilding'] = 'Manufactured/mobile'

In [ ]:
df_all_data.loc[df_all_data['typeBuilding']=="Manufactured Home/Mobile", 'typeBuilding'] = 'Manufactured/mobile'

In [ ]:
df_all_data['typeBuilding'].value_counts()

In [ ]:
#Remove propertyType and buildingType and reorder the dataframe
df_all_data = df_all_data.drop(["propertyType", "buildingType"], axis=1)

cols = df_all_data.columns.tolist()
#cols

In [ ]:
cols=['MLS',
 'price',
 'city',
 'communityName',
 'address',
 'postal',
 'description',
 'typeBuilding',
 'title',
 'bedroomAboveGrade',
 'bedroomBelowGrade',
 'bathroomTotal',
 'bathroomPartial',
 'parkingType',
 'totalParkingSpaces',
 'landSize',
 'storeys',
 'basementType',
 'style',
 'buildingAmenities',
 'maintenanceFees',
 'maintenanceManagementCompany',
 'cooling',
 'heatingType',
 'exteriorFinish',
 'buildingFeatures',
 'amenitiesNearby']

In [ ]:
df_all_data = df_all_data[cols]

## clean "title"

In [ ]:
df_all_data.title.value_counts()

## change unknown to NotListed

In [ ]:
df_all_data.loc[df_all_data['title']=="Unknown", 'title'] = 'NotListed'

In [ ]:
df_all_data.loc[df_all_data['title']=="Other, See Remarks", 'title'] = 'NotListed'

In [ ]:
#df_all_data[df_all_data["title"]=="NotListed"].typeBuilding.value_counts()

## For Vacant Land, assume that the title is freehold

In [ ]:
df_all_data[df_all_data["typeBuilding"]=="Vacant Land"].title.value_counts()

In [ ]:
df_all_data.loc[(df_all_data['title']=="NotListed")&(df_all_data['typeBuilding']=="Vacant Land"), 'title'] = 'Freehold'

## Duplex is usually freehold, assume unknown Duplex to be freehold

In [ ]:
#df_all_data[df_all_data["typeBuilding"]=="Duplex"]

In [ ]:
df_all_data[df_all_data["typeBuilding"]=="Duplex"].title.value_counts()

In [ ]:
df_all_data.loc[(df_all_data['title']=="NotListed")&(df_all_data['typeBuilding']=="Duplex"), 'title'] = 'Freehold'

## check Triplex; assume triplex is freehold

In [ ]:
#df_all_data[df_all_data["typeBuilding"]=="Triplex"]

In [ ]:
df_all_data.loc[(df_all_data['title']=="NotListed")&(df_all_data['typeBuilding']=="Triplex"), 'title'] = 'Freehold'

## Check Fourplex; assume Fourplex to be Freehold

In [ ]:
#df_all_data[df_all_data["typeBuilding"]=="Fourplex"]

In [ ]:
df_all_data.loc[(df_all_data['title']=="NotListed")&(df_all_data['typeBuilding']=="Fourplex"), 'title'] = 'Freehold'

## check condominium, co-own,  co-op

In [ ]:
df_all_data.loc[df_all_data['title']=="Condominium/Strata", 'title'] = 'Condominium'

In [ ]:
df_all_data["title"].value_counts()

In [ ]:
df_all_data.loc[df_all_data['title']=="Undivided Co-ownership", 'title'] = 'Co-ownership'

In [ ]:
df_all_data.loc[df_all_data['title']=="Shares in Co-operative", 'title'] = 'Co-operative'

In [ ]:
df_all_data.loc[df_all_data['title']=="Cooperative", 'title'] = 'Co-operative'

## Check leasehold

In [ ]:
#df_all_data[df_all_data["title"]=="Leasehold"]

In [ ]:
df_all_data.loc[df_all_data['title']=="Leasehold Condo/Strata", 'title'] = 'Leasehold'

## Check NotListed

In [ ]:
#df_all_data[df_all_data["title"]=="NotListed"]

## Check Column bedroomAoveGrade

In [ ]:
df_all_data["bedroomAboveGrade"].value_counts()

In [ ]:
df_all_data[df_all_data["bedroomAboveGrade"]=="NotListed"].typeBuilding.value_counts()

## Vacant Land should have 0 bedroom

In [ ]:
df_all_data.loc[df_all_data['typeBuilding']=="Vacant Land", 'bedroomAboveGrade'] = '0'

In [ ]:
#df_all_data[df_all_data["bedroomAboveGrade"]=="NotListed"]

## Check bedroom below grade

In [ ]:
df_all_data["bedroomBelowGrade"].value_counts()

In [ ]:
df_all_data[df_all_data["bedroomBelowGrade"]=="NotListed"].typeBuilding.value_counts()

## Assume that for all buildings who have unlisted bedroom below grade, there is no bedroom in the basement

In [ ]:
df_all_data.loc[df_all_data["bedroomBelowGrade"]=="NotListed", 'bedroomBelowGrade'] = '0'

## Check bathroomTotal

In [ ]:
df_all_data["bathroomTotal"].value_counts()

there are two 2s and two 1s, change string "2" to int 2. the same for other numbers.

In [ ]:
df_all_data.loc[df_all_data['bathroomTotal']=="6", 'bathroomTotal'] = 6
df_all_data.loc[df_all_data['bathroomTotal']=="5", 'bathroomTotal'] = 5
df_all_data.loc[df_all_data['bathroomTotal']=="4", 'bathroomTotal'] = 4
df_all_data.loc[df_all_data['bathroomTotal']=="3", 'bathroomTotal'] = 3
df_all_data.loc[df_all_data['bathroomTotal']=="2", 'bathroomTotal'] = 2
df_all_data.loc[df_all_data['bathroomTotal']=="1", 'bathroomTotal'] = 1
df_all_data.loc[df_all_data['bathroomTotal']=="0", 'bathroomTotal'] = 0

## NotListed bathroomTotal

In [ ]:
df_all_data[df_all_data["bathroomTotal"]=="NotListed"].typeBuilding.value_counts()

## Vacant Land does not have bathroom

In [ ]:
df_all_data.loc[df_all_data['typeBuilding']=="Vacant Land", 'bathroomTotal'] = 0

## Check bathroomPartial, the bathroom that only have toilet

In [ ]:
df_all_data["bathroomPartial"].value_counts()

## NotListed bathroomPartial

In [ ]:
df_all_data[df_all_data["bathroomPartial"]=="NotListed"].typeBuilding.value_counts()

## assume if not specified, there is no partial bathroom

In [ ]:
df_all_data.loc[df_all_data['bathroomPartial']=="NotListed", 'bathroomPartial'] = "0"

In [ ]:
## change string 0 to integer 0 
df_all_data.loc[df_all_data['bathroomPartial']=="0", 'bathroomPartial'] = 0

In [ ]:
len(df_all_data.columns)

## Output Data, and then go to Part 2 code

In [ ]:
df_all_data.to_csv(output_folder+"/"+"all_after_preprocessing"+'.csv', index=False)